@media screen (max-width: 640px){



}


body {
    font-family: Helvetica, Verdana, sans-serif;
    color: white;
    background: white;
}
a {
    text-decoration: none;
    color: white;
}

button{

    	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
    	box-shadow:inset 0px 39px 0px -24px #e67a73;
    	background-color:#e4685d;
    	-moz-border-radius:4px;
    	-webkit-border-radius:4px;
    	border-radius:4px;
    	border:0px solid #ffffff;
    	display:inline-block;
    	cursor:pointer;
    	color:#ffffff;
    	font-family:Arial;
    	font-size:15px;
    	padding:6px 15px;
    	text-decoration:none;
    	text-shadow:0px 1px 0px #b23e35;

}
button:hover {
	background-color:#eb675e;
}
button:active {
	position:relative;
	top:1px;
}



.container {
        width:100%;
        padding: 0px;
        margin: 0px;

}
#task {
    width: 70%;
    height:24px;

}

#topl {
    width:calc(100% - 40px);
    background-color: #454a5d;
    clear:both;
    padding: 20px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 20px;
}
#info {
    width:calc(100% - 40px);
    background-color: #454a5d;
    clear:both;
    padding: 20px;
    border-radius: 2px;
    text-align: left;
    margin-bottom: 20px;
}

#topr {
    width:calc(100% - 40px);
    background-color: #454a5d;
    clear:both;
    padding: 20px;
    border-radius: 2px;
    text-align: center;
}



#header {
    width:calc(100% - 40px);
    min-height:60px;
    background-color: #454a5d;
    clear: both;
    padding: 20px;
    border-radius: 2px;

}

#footer {
    width:calc(100% - 40px);
    background-color: #454a5d;
    clear:both;
    padding: 20px;
    border-radius: 2px;
    text-align: right;
}


#attgora {
    width:calc(100% - 40px);
    background-color: #454a5d;
    display:0 auto;
    clear: both;
    margin: 20px 5px 20px 0px;
    border-radius: 2px;
    padding: 20px;

}


 .prio, .prioDown, .remove, .removeDone, .markAsDone {
    padding:4px;
    float:right;
    opacity: 1.0;
}
.listaklar {
font-style: italic;
text-decoration: line-through;
color: #ccc;
opacity: 0,8;
font-size: 1.4rem;
padding: 4px;
}



.lista, .listaklar {
    margin:2px auto;
    font-size: 1.7em;
    padding: 5px 5px 5px 5px;

}



.lista {
  color: #eee;
  list-style-type: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}
